<div class="container-fluid ServiceContainer NoPadding">
  <div class="row NoMargin">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 NoPadding navbar bg-light sidebar">
      <table class="table NoMargin" id="service-table">
        <tr>
          <td>
            <a class="nav-link" [ngClass]="{'activeTab': activeTab === 'overview'}" routerLink="./overview/" (click)="activeTab = 'overview'">OVERVIEW</a>
          </td>
        </tr>
        <tr>
          <td>
            <a class="nav-link"  [ngClass]="{'activeTab': activeTab === 'management'}" routerLink="./management/" (click)="activeTab = 'management'">MANAGEMENT</a>
          </td>
        </tr>
        <tr>
          <td>
            <a class="nav-link"  [ngClass]="{'activeTab': activeTab === 'vision'}" routerLink="./vision-and-mission/" (click)="activeTab = 'vision'">VISION AND MISSION</a>
          </td>
        </tr>
        <tr>
          <td>
            <a class="nav-link"  [ngClass]="{'activeTab': activeTab === 'quality'}" routerLink="./qualitypolicy/" (click)="activeTab = 'quality'">QUALITY POLICY</a>
          </td>
        </tr>
        <tr>
            <td>
              <a class="nav-link"  [ngClass]="{'activeTab': activeTab === 'activities'}" routerLink="./our-activities/" (click)="activeTab = 'activities'">ACTIVITIES</a>
            </td>
          </tr>
      </table>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 serviceDetail NoPadding">
      <div class="servicesContainer">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>