<div class="row wrapper">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="innerWrapper">
      <h3 class="text-center">Construction Stage:</h3>
      <div *ngIf="time" class="row contentContainer">
        <div class="col-xs-12 col-sm-12 col-md-6 col-6 NoPadding font18">
          <div *ngFor="let item of constrObj | keyvalue">
            <ng-container *ngIf="item.value.isEnabled">
              <h4 class="ssTitle"> {{ item.key }} :</h4>
              <ul class="list-group list-group-flush">
                <li *ngFor="let list of item.value.values" class="list-group-item"> {{ list }} </li>
              </ul>
            </ng-container>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-6 NoPadding">
          <div *ngFor="let item of constrObj | keyvalue">

          </div>
        </div>
      </div>

    </div>
  </div>
</div>