<div class="container-fluid HeaaderContainer NoPadding">
  <div class="row NoMargin">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 NoPadding">
      <nav class="navbar navbar-expand-sm mainNavBar">
        <div class="navbar-header" style="width: 16.6%;height: 3rem;">
          <a class="" routerLink="/home/">
            <img class="logo" src="../../../assets/images/rss-logo.png">
          </a>
        </div>
        <div class="ml-auto mr-5">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/aboutus/">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/services/">SERVICES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/projects/">PROJECTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/ourclients/">OUR CLIENTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contactus/">CONTACT US</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>