<!-- <div class="container-fluid HeaaderContainer NoPadding">
  <div class="row NoMargin">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 NoPadding"> -->
<nav class="navbar navbar-expand-sm mainNavBar p-0 sticky-top">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/home/">
    <img class="logo" src="../../../assets/images/rss-logo.png">
  </a>
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
    (click)="toggleMenu = !toggleMenu">
    <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar" [ngClass]="{'show': toggleMenu}">
    <ul class="navbar-nav ml-auto pr-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/" routerLinkActive="link-active">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutus/" routerLinkActive="link-active">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/services/" routerLinkActive="link-active">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects/" routerLinkActive="link-active">PROJECTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ourclients/" routerLinkActive="link-active">OUR CLIENTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus/" routerLinkActive="link-active">CONTACT US</a>
      </li>
    </ul>
  </div>

</nav>
<!-- </div>
  </div>
</div> -->
