<div class="container-fluid HeaaderContainer NoPadding">
  <div class="row NoMargin">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 NoPadding">
      <nav class="navbar navbar-expand-sm mainNavBar">
          <div class="row" style="width: 100%">
              <div class="col-12 col-xs-12 col-sm-12 col-md-2 col-lg-4 navbar-header" style="width: 16.6%;height: 3rem;">
                  <a class="" routerLink="/home/">
                    <img class="logo" src="../../../assets/images/rss-logo.png">
                  </a>
                </div>
                <div class="col-12 col-xs-12 col-sm-12 col-md-10 col-lg-8 ml-auto pr-5">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" [ngClass]="{'activeMainTab': headerTab === 'home'}" routerLink="/home/" (click)="headerTab = 'home'">HOME</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [ngClass]="{'activeMainTab': headerTab === 'aboutus'}" (click)="headerTab = 'aboutus'" routerLink="/aboutus/">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [ngClass]="{'activeMainTab': headerTab === 'services'}" routerLink="/services/" (click)="headerTab = 'services'">SERVICES</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [ngClass]="{'activeMainTab': headerTab === 'project'}" routerLink="/projects/" (click)="headerTab = 'project'">PROJECTS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [ngClass]="{'activeMainTab': headerTab === 'ourclients'}" routerLink="/ourclients/" (click)="headerTab = 'ourclients'">OUR CLIENTS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [ngClass]="{'activeMainTab': headerTab === 'contactus'}" routerLink="/contactus/" (click)="headerTab = 'contactus'">CONTACT US</a>
                    </li>
                  </ul>
                </div>
            </div>
      </nav>
    </div>
  </div>
</div>