<div class="row wrapper">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="innerWrapper">
        <div class="text-center">
          <img width="100%" src="../../../../assets/images/vision-mission.png">
        </div>
        <div class="desc">
          <h3>VISION : </h3>
          <p>To be the preferred and most trusted resource for the complete solution that enhances Project delivery in right time, cost, quality & safety.</p>
        </div>

        <div class="desc">
            <h3>MISSION : </h3>
            <p>To partner with our Clients to strategize a dynamic combination of resources and services tailored to meet their needs.</p>
          </div>
      </div>
    </div>
  </div>