<div class="container-fluid AppComponent bgImage NoPadding">
  <div class="rassDesc text-center">
    <!-- <img style="width: 140px;" src="../../../assets/images/rss-logo.png" alt="Rass logo"> -->
    <h3 class="NoPadding NoMargin col-xs-12 col-sm-12 col-md-12 col-lg-12 col-12 title">RASS PROJECT CONSULTANTS PVT.
      LTD.</h3>
    <p class="NoPadding NoMargin col-xs-12 col-sm-12 col-md-12 col-lg-12 col-12 desc">
      RASS Project Consultants Pvt. Ltd. is recognized as leading organization delivering Design Engineering, Project Management Consultancy and turnkey services in different sectors across PAN India.
    </p>
  </div>
  <div class="row NoMargin NoPadding AchivementsCarousel">
    <div class="col-12 NoPadding outlineNone carousel-fade achivement text-center">
      <!-- <ngu-carousel #myCarousel [inputs]="carouselAchivements" [dataSource]="achivements">
        <ngu-tile class="my-auto" style="padding: 0px;" *nguCarouselDef="let item; let i = index; let ani = animate">
          <div class="achivementDiv col-xs-12 col-lg-8 col-md-8 col-sm-12 col-12">
            <img class="achivementImg" src="{{ item }}" alt="">
          </div>
        </ngu-tile>
      </ngu-carousel> -->
      <video #video class="homeVideo" autoplay loop controls muted onloadedmetadata="this.muted = true; this.play();" src="../../../assets/video/RASS Project Consultants Pvt Ltd Promo.mp4"></video>
    </div>
  </div>
  <div class="row NoMargin CarouselRow">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-12 NoPadding outlineNone carousel-fade">
      <ngu-carousel #myCarousel [inputs]="carouselTileConfig" [dataSource]="clientlog">
        <ngu-tile class="my-auto" *nguCarouselDef="let item; let i = index; let ani = animate">
          <div class="sliderImgDiv col-xs-12 col-lg-6 col-md-6 col-sm-12 col-12">
            <img class="sliderImg"  src="{{ item }}" alt="">
          </div>
        </ngu-tile>
        <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5:0.5">&lt;</button>
        <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5:0.5">&gt;</button>
      </ngu-carousel>
      <!-- <div class="NoPadding NoMargin text-center" style="color: #005a7a;">
        OUR CLIENTS
      </div> -->
    </div>

  </div>
</div>