.bgImage {
    background-image: url(../../../assets/images/773716.jpg);
    height: 90vh;
    position: relative;
    background-size: cover;
    background-position: center;
}

.CarouselRow {
    position: absolute;
    bottom: 0%;
    background: #000000c7;
    width: 100%;
}

.CarouselContainer {
    height: 12rem;
    overflow: hidden;
}

.CarouselContainer>img {
    max-width: 100%;
    padding: 0.5rem;
    /* position: relative;
    width: 70%;
    height: 70%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-color: #fff; */
}

.width {
    width: 150px;
}
.height {
    height: 150px;
}

/* .carousel-caption {
    position: relative !important;
    right: 0px;
    left: 0;
} */

.carousel {
    padding-top: 10px;
}

.carousel-control-prev .carousel-control-next {
    z-index: 999 !important;
}

:host ::ng-deep .carousel-inner {
    padding-right: 10%;
    padding-left: 10%;
}

:host ::ng-deep .outlineNone {
    outline: none;
}

.rassDesc {
    color: white;
    padding: 1% 10%;
}

.title {
    /* text-shadow: -3px 5px 4px rgb(240, 59, 7); */
    color: white;
}

.desc {
    font-size: 20px;
    color: #aee1f3;
    /* text-shadow: -3px 5px 4px rgb(25, 21, 248); */
}