<div class="container-fluid AppComponent bgImage NoPadding">
  <div class="rassDesc text-center">
    <img src="../../../assets/images/RASS Logo2.png" alt="Rass logo">
    <h3 class="NoPadding NoMargin col-xs-12 col-sm-12 col-md-12 col-lg-12 col-12 title">RASS PROJECT CONSULTANTS PVT. LTD.</h3>
    <p class="NoPadding NoMargin col-xs-12 col-sm-12 col-md-12 col-lg-12 col-12 desc">
      We have been developed to meet the increasing demand for responsive, Cost –
      effective and Quality project management services for Construction Project in various sectors.
    </p>
  </div>
  <div class="row NoMargin CarouselRow">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-12 NoPadding outlineNone carousel-fade">
      <!-- <div class="row"> -->
      <ngb-carousel class="outlineNone">
        <ng-template ngbSlide>
          <div class="row NoMargin">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-12 text-center CarouselContainer">
              <img class="CarouselLogo width" src="../../../assets/clientLogos/A1.png">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-12 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/A2.png">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-12 text-center CarouselContainer">
              <img class="CarouselLogo width" src="../../../assets/clientLogos/A3.JPG">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-12 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/A4.jpg">
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row NoMargin">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/B1.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo width" src="../../../assets/clientLogos/B2.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/B3.jpg" alt="Random first slide">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/B4.jpg">
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row NoMargin">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/C1.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo height" src="../../../assets/clientLogos/C2.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/C3.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo width" src="../../../assets/clientLogos/C4.png">
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row NoMargin">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/D1.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo height" src="../../../assets/clientLogos/D2.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo height" src="../../../assets/clientLogos/D3.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/D4.jpg">
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row NoMargin">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo height" src="../../../assets/clientLogos/E1.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo height" src="../../../assets/clientLogos/E2.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/E3.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/E4.jpg">
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row NoMargin">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/F1.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo height" src="../../../assets/clientLogos/F2.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/F3.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/F4.jpg">
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row NoMargin">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" style="background: white;" src="../../../assets/clientLogos/G1.png">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo width" src="../../../assets/clientLogos/G2.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo width" src="../../../assets/clientLogos/G3.png">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo height" src="../../../assets/clientLogos/G4.png">
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row NoMargin">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo height" style="background: white;" src="../../../assets/clientLogos/H1.png">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/H2.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo height" src="../../../assets/clientLogos/H3.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo height" src="../../../assets/clientLogos/H4.jpg">
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row NoMargin">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo height" style="background: white;" src="../../../assets/clientLogos/J1.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo height" src="../../../assets/clientLogos/J2.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo height" src="../../../assets/clientLogos/J3.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/J4.jpg">
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row NoMargin">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/K1.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo height" src="../../../assets/clientLogos/K2.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/K3.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" style="background: white;" src="../../../assets/clientLogos/K4.png">
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row NoMargin">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/L1.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/L2.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/L3.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/L4.jpg">
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row NoMargin">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/M1.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo" src="../../../assets/clientLogos/M2.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo height" src="../../../assets/clientLogos/M3.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center CarouselContainer">
              <img class="CarouselLogo height" src="../../../assets/clientLogos/M4.jpg">
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="row NoMargin">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center CarouselContainer">
                <img class="CarouselLogo" src="../../../assets/clientLogos/N1.jpg">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center CarouselContainer">
                <img class="CarouselLogo" src="../../../assets/clientLogos/N2.jpg">
              </div>
            </div>
          </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>