<div class="row wrapper">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="innerWrapper text-center">
      <h3>Overview</h3>
      <div>
        <img src="../../../../assets/images/overview.png" alt="">
      </div>
      <div class="desc">
        <p>RASS Project Management consultants enable our clients to achieve a competitive advantage through the effective utilization of project management planning and our control techniques. Regardless of a Project size or complexity, we harness end – to – end solutions and tailor them to meet our client’s need.</p>
        <p>Our team has extensive experience in construction industry including Engineering, Estimating, Construction management, Scheduling, ES & H Compliance, Risk management.</p>
      </div>
    </div>
  </div>
</div>