<h3 class='text-center pt-2'>OVERVIEW</h3>
<div class="row wrapper">
  <div class="col-12">
    <div class="innerWrapper text-center">
      <!-- <div> -->
        <!-- <img src="../../../../assets/images/overview.png" alt="" style="margin-top: -31px; padding-bottom: 20px;"> -->
      <!-- </div> -->
      <div class="desc">
        <img src="../../../../assets/images/location3.jpg" alt="" style="padding-bottom: 20px;float: right;">
        <p>We, RASS Project Consultants Pvt. Ltd. is recognized as leading organization delivering Design
          Engineering,
          Project Management Consultancy services and turnkey projects across PAN India.</p>
        <p> RASS has its presence into
          various sectors – Automobile/ Auto-Component, Pharma, Chemical, Food, Heavy Engineering, Textile, Packaging,
          Residential, Commercial, Institutional, Hospitality and commercial projects.</p>
        <p>RASS has delivered more than 90 landmark projects with efficiency and dedication.</p>
        <p>RASS enable its clients to achieve a competitive advantage through the effective utilization of project
          management planning and our cost control techniques. Regardless of a Project size or complexity, we harness
          end – to – end solutions and tailor them to meet our client’s need.</p>
        <p>RASS enable its clients to achieve a competitive advantage through the effective utilization of project
          management planning and our cost control techniques. Regardless of a Project size or complexity, we harness
          end – to – end solutions and tailor them to meet our client’s need.</p>
      </div>

    </div>
    <!-- <div class="desc">

      </div> -->
  </div>
</div>
<!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="desc">
      <span>RASS enable its clients to achieve a competitive advantage through the effective utilization of project
        management planning and our cost control techniques. Regardless of a Project size or complexity, we harness
        end – to – end solutions and tailor them to meet our client’s need.</span>
    </div>

    <div class="text-center">
      <img class='text-center' src="../../../../assets/images/location3.jpg" alt="">
    </div>
  </div> -->
<!-- </div> -->