<div class="row wrapper">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="innerWrapper text-center">
      <h3>OVERVIEW</h3>
      <div>
        <img src="../../../../assets/images/overview.png" alt="">
      </div>
      <div class="desc">
        <p>We, RASS Project Consultants Pvt. Ltd. is recognized as leading organization delivering Design Engineering, Project Management Consultancy services and turnkey projects across PAN India. RASS has its presence into various sectors – Automobile/ Auto-Component, Pharma, Chemical, Food, Heavy Engineering, Textile, Packaging, Residential, Commercial, Institutional, Hospitality and commercial projects.</p>
        <p>RASS has delivered more than 90 landmark projects with efficiency and dedication.</p>
        <p>RASS enable its clients to achieve a competitive advantage through the effective utilization of project management planning and our cost control techniques. Regardless of a Project size or complexity, we harness end – to – end solutions and tailor them to meet our client’s need.</p>
      </div>
    </div>
  </div>
</div>