<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<router-outlet></router-outlet>
<div class="socialLink">
    <a href="https://www.facebook.com/pg/RPCPL2020Services/about/" target="_blank"><i class="fab fa-facebook-square"></i></a>
    <a href="https://twitter.com/rpcpl_123" target="_blank"><i class="fab fa-twitter-square"></i></a>
    <a href="https://www.linkedin.com/company/rass-project-consultants-pvt-ltd-/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.youtube.com/channel/UCtf3_jx3a1MgS83tttBFjAg?view_as=subscriber" target="_blank"><i class="fab fa-youtube-square"></i></a>
</div>
