<div class="row wrapper">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="innerWrapper">
        <h3 class="text-center">Post - Construction Stage:</h3>
      <div class="row contentContainer">
          <div class="col-md-6 font18">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Final Reconciliation.</li>
                <li class="list-group-item">Extra Item Settlement.</li>
                <li class="list-group-item">Project Completion Report.</li>
                <li class="list-group-item">Assistance in As-Built Drawings.</li>
                <li class="list-group-item">Closing of Snag list Items.</li>
                <li class="list-group-item">Commercial close-out.</li>
                <li class="list-group-item">Handover Documentation.</li>
              </ul>
            </div>
      
            <div class="col-md-6">
              <img style="width:100%;" src="../../../../../assets/images/postConstruction.png">
            </div>
      </div>
    </div>
  </div>
</div>