<div class="row wrapper">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="innerWrapper text-center">
      <!-- <h3>QUALITY POLICY</h3> -->
      <div style="height: 35em; overflow: auto;">
        <img style="width: 70%;" src="../../../../assets/images/RASS_Quality Policy-page-001.jpg">
      </div>
      <!-- <div class="desc">
        <p>We believe and are committed to deliver Quality services to our clients irrespective of the size and type of the project.</p>
      </div> -->
    </div>
  </div>
</div>