<div class="container-fluid ServiceContainer NoPadding">
  <div class="row NoMargin">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 serviceDetail NoPadding">
      <div class="servicesContainer">
        <div class="innerWrapper">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 250px;">
              <img class="locationimg" src="../../../assets/images/location2.jpg">
              <i class="fa fa-map-pin" aria-hidden="true"></i>
            </div>
          </div>
          <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <h5>Head Office: </h5>
              <div class="address">
                <p><strong style="color: #005a7a;">RASS PROJECT CONSULTANTS PVT. LTD.</strong><br>
                  <span>Office No. 501,</span><br>
                  <span>Samarth House,</span><br>
                  <span>Pune- Bangalore Highway,</span><br>
                  <span>Warje, Pune- 411 058</span><br>
                  <span>Tel : +7206063939</span><br>
                  <span>Email: info@rassprojects.co.in</span><br>
                  <span>Web: www.rassprojects.co.in</span>
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 contactUsForm">
              <form class="mailForm" action="/action_page.php">
                <div class="form-group">
                  <label for="name">Full Name:</label>
                  <input placeholder="Enter your Name" type="text" class="form-control" id="name" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="email">Email address:</label>
                  <input placeholder="Enter your Email" type="email" class="form-control" id="email" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="msg" style="display: block;">Message:</label>
                  <textarea id="msg" rows="3" placeholder="Enter your message here..."></textarea>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Send Email</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>