<div class="container-fluid ServiceContainer NoPadding">
  <div class="row NoMargin">
    <!-- <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 NoPadding navbar bg-light sidebar">
        <table class="table NoMargin" id="service-table">
          <tr>
            <td>
              <a class="nav-link" routerLink="./pre-construction/">Pre-Construction Stage</a>
            </td>
          </tr>
          <tr>
            <td>
              <a style="cursor: pointer;" class="nav-link" (click)="toggleSubList()">Construction Stage</a>
            </td>
          </tr>
          <tr class="subListMenu" *ngIf="subList">
            <td>
              <ul>
                <li><a class="sub-nav-link" (click)="showSubService('Time Management')">Time Management</a></li>
                <li><a class="sub-nav-link" (click)="showSubService('Cost Management')">Cost Management</a></li>
                <li><a class="sub-nav-link" (click)="showSubService('Quality Management')">Quality Management</a></li>
                <li><a class="sub-nav-link" (click)="showSubService('Safety Management')">Safety Management</a></li>
                <li><a class="sub-nav-link" (click)="showSubService('Risk Management')">Risk Management</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <a class="nav-link" routerLink="./post-construction/">Post-Construction Stage</a>
            </td>
          </tr>
  
        </table>
      </div> -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 serviceDetail NoPadding">
      <div class="servicesContainer">
        <h2 class="text-center">Contact Us</h2>
        <div class="innerWrapper">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <img class="locationimg" src="../../../assets/images/location2.jpg">
              <i class="fa fa-map-pin" aria-hidden="true"></i>

              <!-- <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map> -->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <h5>Head Office: </h5>
              <div class="address">
                <p><strong>RASS PROJECT CONSULTANTS PVT. LTD.</strong><br>
                  <span>Office No. 301,</span><br>
                  <span>Samarth House,</span><br>
                  <span>Pune- Bangalore Highway,</span><br>
                  <span>Warje, Pune- 411 058</span><br>
                  <span>Tel : +91-20-66294444</span><br>
                  <span>Email: info@rassprojects.co.in</span><br>
                  <span>Web: www.rassprojects.co.in</span>
                  <!-- <i class="fa fa-address-book" aria-hidden="true"></i> -->
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mailForm NoPadding">
              <form action="/action_page.php">
                <div class="form-group">
                  <label for="name">Full Name:</label>
                  <input placeholder="Enter your Name" type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="email">Email address:</label>
                  <input placeholder="Enter your Email" type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="msg" style="display: block;">Message:</label>
                  <textarea id="msg" rows="3" placeholder="Enter your message here..."></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Send Email</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>