<div class="container-fluid ServiceContainer NoPadding">
  <div class="row NoMargin">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 NoPadding navbar bg-light sidebar">
      <table class="table NoMargin" id="service-table">
        <tr>
          <td (click)="toggleSubList('design')">
            <a class="main-nav nav-link">DESIGN ENGINEERING</a>
          </td>
        </tr>
        <tr class="subListMenu">
          <td style="padding: 0px;">
            <ul class="navList list-group list-group-flush">
              <li class="list-group-item" [ngClass]="{'activeTab': activeTab === 'Architectural/ Structural Design'}"
                (click)="showSubService('Architectural/ Structural Design')"><a
                  class="sub-nav-link">ARCHITECTURAL/STRUCTURAL</a></li>
              <li class="list-group-item" [ngClass]="{'activeTab': activeTab === 'Electrical Design'}"
                (click)="showSubService('Electrical Design')"><a class="sub-nav-link">ELECTRICAL ENGINEERING</a></li>
              <li class="list-group-item" [ngClass]="{'activeTab': activeTab === 'HVAC and Ventilation Design'}"
                (click)="showSubService('HVAC and Ventilation Design')"><a class="sub-nav-link">HVAC AND VENTILATION
                  DESIGN</a></li>
              <li class="list-group-item" [ngClass]="{'activeTab': activeTab === 'Fire Fighting Design'}"
                (click)="showSubService('Fire Fighting Design')"><a class="sub-nav-link">FIRE FIGHTING DESIGN</a></li>
              <li class="list-group-item" [ngClass]="{'activeTab': activeTab === 'Interior and Landscape Design'}"
                (click)="showSubService('Interior and Landscape Design')"><a class="sub-nav-link">INTERIOR AND LANDSCAPE
                  DESIGN</a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td (click)="toggleSubList('management')">
            <a class="main-nav nav-link">PROJECT MANAGEMENT</a>
          </td>
        </tr>

        <tr class="subListMenu">
          <td (click)="showSubService('Pre-Construction Stage')" [ngClass]="{'activeTab': activeTab === 'Pre-Construction Stage'}">
            <a class="nav-link">PRE-CONSTRUCTION STAGE</a>
          </td>
        </tr>
        <tr class="subListMenu" (click)="showSubService('Time Management')">
          <td>
            <a style="cursor: pointer;" class="nav-link">CONSTRUCTION STAGE</a>
          </td>
        </tr>
        <tr class="sub subListMenu">
          <td style="padding: 0px;">
            <ul class="navList list-group list-group-flush">
              <li class="list-group-item" [ngClass]="{'activeTab': activeTab === 'Time Management'}"
                (click)="showSubService('Time Management')"><i class="fa fa-clock" aria-hidden="true"></i><a
                  class="sub-nav-link">TIME MANGEMENT</a></li>
              <li class="list-group-item" [ngClass]="{'activeTab': activeTab === 'Cost Management'}"
                (click)="showSubService('Cost Management')"><i class="fa fa-credit-card" aria-hidden="true"></i><a
                  class="sub-nav-link">COST MANAGEMENT</a></li>
              <li class="list-group-item" [ngClass]="{'activeTab': activeTab === 'Quality Management'}"
                (click)="showSubService('Quality Management')"><i class="fa fa-check" aria-hidden="true"></i><a
                  class="sub-nav-link">QUALITY MANAGEMENT</a></li>
              <li class="list-group-item" [ngClass]="{'activeTab': activeTab === 'Safety Management'}"
                (click)="showSubService('Safety Management')"><i class="fa fa-life-ring" aria-hidden="true"></i><a
                  class="sub-nav-link">SAFETY MANAGEMENT</a></li>
              <li class="list-group-item" [ngClass]="{'activeTab': activeTab === 'Risk Management'}"
                (click)="showSubService('Risk Management')"><i class="fa fa-exclamation-triangle"
                  aria-hidden="true"></i><a class="sub-nav-link">RISK MANAGEMENT</a></li>
            </ul>
          </td>
        </tr>
        <tr class="subListMenu">
          <td (click)="showSubService('Post-Construction Stage')" [ngClass]="{'activeTab': activeTab === 'Post-Construction Stage'}">
            <a class="nav-link">POST-CONSTRUCTION STAGE</a>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 serviceDetail NoPadding">
      <div class="servicesContainer">
        <!-- <h2 class="text-center">Services</h2> -->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-12 NoPadding font18">
            <div>
              <div class="row" style="padding: 25px 30px;" *ngIf="activeTab == 'Architectural/ Structural Design'">
                <h4 class="ssTitle">ARCHITECTURAL/ STRUCTURAL DESIGN</h4>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <ul class="serviceList list-group list-group-flush">
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Formulation of the Concept</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Preparing Design basis report</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Developing Master Plan and Layouts</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Detailed Design</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>3 Dimensional Study and views</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Working Drawings - Plans, Sections, Elevations and Details</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Structural Analysis and Design</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Preparing detail structural drawings</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Finalizing Specifications, Bill of Quantities</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>As Built Drawings</span>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <!-- {{ item.value.imgSrc | json }} -->
                  <img class="ssImg pt-4" src="assets/images/Architectural-Structural.jpg" alt="">
                </div>
              </div>

              <div class="row" style="padding: 25px 30px;" *ngIf="activeTab == 'Electrical Design'">
                <h4 class="ssTitle">ELECTRICAL DESIGN</h4>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <ul class="serviceList list-group list-group-flush">
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Preparation of design basis report</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Liasoning with Power Supply Boards</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>HT and LT Distribution Design and layout</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>High tension & low tension substation layout</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>System Power Flow, Study Fault Level Analysis</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Design plant lightning, street lighting, yard lightning etc</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Emergency power supply & distribution </span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Relay Coordination and Settings</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Earthing and Lightning Protection</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Control Automation and Instrumentation plan</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Transformer and Generator Protection</span>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <!-- {{ item.value.imgSrc | json }} -->
                  <img class="ssImg pt-4" src="assets/images/Electrical-Engineering.jpg" alt="">

                  <ul class="serviceList list-group list-group-flush">
                    <li class="list-group-item pl-0" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Prepare scheme for Data/Voice Cabling</span>
                    </li>
                    <li class="list-group-item pl-0" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Design of solar system</span>
                    </li>
                    <li class="list-group-item pl-0" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Testing and Commissioning Assistance</span>
                    </li>
                    <li class="list-group-item pl-0" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Preparation of tender document, BOQ and estimate</span>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row" style="padding: 25px 30px;" *ngIf="activeTab == 'HVAC and Ventilation Design'">
                <h4 class="ssTitle">HVAC AND VENTILATION DESIGN</h4>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <ul class="serviceList list-group list-group-flush">
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Evaluation of Ventilation and Atmospheric Control Requirements</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Heat Load Calculations</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Design entire HVAC System</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Clean Room Assessment and Design</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Selection of Proper Equipment</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Preparation of detailed working Drawings</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Detailed Drawing and Design for Ducting, Equipment, Piping etc</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Preparation of tender document, BOQ and estimate</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Inspection, Validation, Testing and Commissioning</span>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <!-- {{ item.value.imgSrc | json }} -->
                  <img class="ssImg pt-4" src="assets/images/Mechanical-Engineering.jpg" alt="">
                </div>
              </div>

              <div class="row" style="padding: 25px 30px;" *ngIf="activeTab == 'Fire Fighting Design'">
                <h4 class="ssTitle">FIRE FIGHTING DESIGN</h4>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <ul class="serviceList list-group list-group-flush">
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Design of firefighting system based on statutory norms and requirements</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Preparation of detailed working Drawings</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Preparation of tender document, BOQ and estimate</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Installation and Testing Supervision</span>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <!-- {{ item.value.imgSrc | json }} -->
                  <img class="ssImg pt-4" src="assets/images/fire.jpg" alt="">
                </div>
              </div>

              <div class="row" style="padding: 25px 30px;" *ngIf="activeTab == 'Interior and Landscape Design'">
                <h4 class="ssTitle">INTERIOR AND LANDSCAPE DESIGN</h4>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <ul class="serviceList list-group list-group-flush">
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Formulation of the concept</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Design Grass, trees & shrubs pattern as per climatic conditions & availability of
                        substrat</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Selection of various Trees, Shrubs, Border Flowering Plants, Lawns etc. for
                        Landscaping</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Design good irrigation system for Landscaping work using recycled water</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Preparation of detailed working Drawings in accordance with concept</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Preparation of tender document, BOQ and estimate</span>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <!-- {{ item.value.imgSrc | json }} -->
                  <img class="ssImg pt-4" src="assets/images/interior.jpg" alt="">
                </div>
              </div>

              <div class="row" style="padding: 25px 30px;" *ngIf="activeTab == 'Pre-Construction Stage'">
                <h4 class="ssTitle">PRE-CONSTRUCTION STAGE</h4>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <ul class="serviceList list-group list-group-flush">
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Statutory Liasoning</span>
                    </li>
                    <li class="list-group-item" style="display: flex; padding-left: 85px;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Constructability Review</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Value Engineering</span>
                    </li>
                    <li class="list-group-item" style="display: flex; padding-left: 85px;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Tracking Design Deliverables</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Pre-Qualification of Contractors</span>
                    </li>
                    <li class="list-group-item" style="display: flex; padding-left: 85px;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Review of Tender Documents</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Techno-Commercial Negotiation</span>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <!-- {{ item.value.imgSrc | json }} -->
                  <img class="ssImg pt-4" src="assets/images/preConstruction.jpg" alt="">
                </div>
              </div>

              <div class="row" style="padding: 25px 30px;" *ngIf="activeTab == 'Post-Construction Stage'">
                <h4 class="ssTitle">POST-CONSTRUCTION STAGE</h4>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <ul class="serviceList list-group list-group-flush">
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Final Reconciliation</span>
                    </li>
                    <li class="list-group-item" style="display: flex; padding-left: 85px;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Extra Item Settlement</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Project Completion Report</span>
                    </li>
                    <li class="list-group-item" style="display: flex; padding-left: 85px;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Assistance in As-Built Drawings</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Closing of Snag list Items</span>
                    </li>
                    <li class="list-group-item" style="display: flex; padding-left: 85px;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Commercial close-out</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Handover Documentation</span>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <!-- {{ item.value.imgSrc | json }} -->
                  <img class="ssImg pt-4" src="assets/images/postConstruction.png" alt="">
                </div>
              </div>

              <div class="row" style="padding: 25px 30px;" *ngIf="activeTab == 'Time Management'">
                <h4 class="ssTitle">TIME MANAGEMENT</h4>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6 text-center">
                  <ul class="serviceList list-group list-group-flush">
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Milestone Schedule</span>
                    </li>
                    <li class="list-group-item" style="display: flex; padding-left: 85px;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Baseline Schedule</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Critical Path Review</span>
                    </li>
                    <li class="list-group-item" style="display: flex; padding-left: 85px;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Tracking of Schedule</span>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <!-- {{ item.value.imgSrc | json }} -->
                  <img class="ssImg pt-4" style="width: 90%; height: 250px;"
                    src="assets/images/subServices/time-management2.png" alt="">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <!-- {{ item.value.imgSrc | json }} -->
                  <img class="ssImg pt-4" style="width: 90%; height: 250px;"
                    src="assets/images/subServices/time-management1.png" alt="">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <ul class="serviceList list-group list-group-flush pt-3">
                    <li class="list-group-item pl-0" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Recovery schedule in case of delay</span>
                    </li>
                    <li class="list-group-item pl-0" style="display: flex; padding-left: 85px !important">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Anticipated Cash Flow</span>
                    </li>
                    <li class="list-group-item pl-0" style="display: flex; ">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Progress/Performance review</span>
                    </li>
                    <li class="list-group-item pl-0" style="display: flex; padding-left: 85px !important;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Time Impact Analysis</span>
                    </li>
                  </ul>
                </div>

              </div>

              <div class="row" style="padding: 25px 30px;" *ngIf="activeTab == 'Cost Management'">
                <h4 class="ssTitle">COST MANAGEMENT</h4>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <ul class="serviceList list-group list-group-flush">
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Actual v/s Budgeted costs</span>
                    </li>
                    <li class="list-group-item" style="display: flex; padding-left: 85px;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Scrutiny of contractors bill and certification</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Prepare and Monitor cash flow</span>
                    </li>
                    <li class="list-group-item" style="display: flex; padding-left: 85px;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Evaluate change/variations impact</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Develop cost forecasts</span>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <!-- {{ item.value.imgSrc | json }} -->
                  <img class="ssImg pt-4" style="height: 300px;" src="assets/images/subServices/cost-management1.png"
                    alt="">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <!-- {{ item.value.imgSrc | json }} -->
                  <img class="ssImg" style="height: 247px;" src="assets/images/subServices/cost-management2.png" alt="">
                </div>
              </div>

              <div class="row" style="padding: 25px 30px;" *ngIf="activeTab == 'Quality Management'">
                <h4 class="ssTitle">QUALITY MANAGEMENT</h4>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <ul class="serviceList list-group list-group-flush">
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Daily Supervision</span>
                    </li>
                    <li class="list-group-item" style="display: flex; padding-left: 85px;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Review and Approval of Materials</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Timely inspections and testing</span>
                    </li>
                    <li class="list-group-item" style="display: flex; padding-left: 85px;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Quality Trainings</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Internal Quality Audit</span>
                    </li>
                    <li class="list-group-item" style="display: flex; padding-left: 85px;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Snag lists implementation</span>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <img class="ssImg pt-4" src="assets/images/subServices/Quality-Management.png" alt="">
                </div>
              </div>

              <div class="row" style="padding: 25px 30px;" *ngIf="activeTab == 'Safety Management'">
                <h4 class="ssTitle">SAFETY MANAGEMENT</h4>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6 text-center">
                  <ul class="serviceList list-group list-group-flush">
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Safety Induction</span>
                    </li>
                    <li class="list-group-item" style="display: flex;" style="padding-left: 85px;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Safety Audits</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Daily Supervision</span>
                    </li>
                    <li class="list-group-item" style="display: flex;" style="padding-left: 85px;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Safety Training</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Safety Documentation</span>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <img class="ssImg pt-3" style="width: 80%; height: 260px;"  src="assets/images/subServices/safety-management.png" alt="">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <img class="ssImg p-3" style="width: 80%; height: 260px;"  src="assets/images/subServices/safety-management3.png" alt="">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <img class="ssImg pt-3" style="width: 80%; height: 260px;"  src="assets/images/subServices/safety-management4.png" alt="">
                </div>
              </div>

              <div class="row" style="padding: 25px 30px;" *ngIf="activeTab == 'Risk Management'">
                <h4 class="ssTitle">RISK MANAGEMENT</h4>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <ul class="serviceList list-group list-group-flush">
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Identification of Risk</span>
                    </li>
                    <li class="list-group-item" style="display: flex; padding-left: 85px;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Evaluation of Risk</span>
                    </li>
                    <li class="list-group-item" style="display: flex;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Risk mitigation Strategies</span>
                    </li>
                    <li class="list-group-item" style="display: flex; padding-left: 85px;">
                      <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                      <span>Maintain Risk Register</span>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <img class="ssImg pt-4" src="assets/images/subServices/risk-management.png" alt="">
                </div>
              </div>

            </div>
          </div>
          <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>