<div class="container-fluid ServiceContainer NoPadding">
  <div class="row NoMargin">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 NoPadding navbar bg-light sidebar">
      <table class="table NoMargin" id="service-table">
        <tr>
          <td (click)="toggleSubList('design')">
            <a class="nav-link">DESIGN ENGINEERING</a>
          </td>
        </tr>
        <tr *ngIf="design" class="subListMenu">
          <td style="padding: 0px;">
            <ul class="navList list-group list-group-flush">
              <li class="list-group-item" (click)="showSubService('Architectural/ Structural')"><a
                  class="sub-nav-link">Architectural/ Structural</a></li>
              <li class="list-group-item" (click)="showSubService('Electrical Engineering')"><a
                  class="sub-nav-link">Electrical
                  Engineering</a></li>
              <li class="list-group-item" (click)="showSubService('Mechanical Engineering')"><a
                  class="sub-nav-link">Mechanical Engineering</a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td (click)="toggleSubList('management')">
            <a class="nav-link">PROJECT MANAGEMENT</a>
          </td>
        </tr>

        <tr *ngIf="management" class="subListMenu">
          <td (click)="showSubService('Pre-Construction Stage')">
            <a class="nav-link">PRE-CONSTRUCTION STAGE</a>
          </td>
        </tr>
        <tr *ngIf="management" class="subListMenu" (click)="toggleSubList('construction')">
          <td>
            <a style="cursor: pointer;" class="nav-link">CONSTRUCTION STAGE</a>
          </td>
        </tr>
        <tr *ngIf="construction" class="subListMenu">
          <td style="padding: 0px;">
            <ul class="navList list-group list-group-flush">
              <li class="list-group-item" (click)="showSubService('Time Management')"><i class="fa fa-clock"
                  aria-hidden="true"></i><a class="sub-nav-link">Time
                  Management</a></li>
              <li class="list-group-item" (click)="showSubService('Cost Management')"><i class="fa fa-credit-card"
                  aria-hidden="true"></i><a class="sub-nav-link">Cost
                  Management</a></li>
              <li class="list-group-item" (click)="showSubService('Quality Management')"><i class="fa fa-check"
                  aria-hidden="true"></i><a class="sub-nav-link">Quality
                  Management</a></li>
              <li class="list-group-item" (click)="showSubService('Safety Management')"><i class="fa fa-life-ring"
                  aria-hidden="true"></i><a class="sub-nav-link">Safety
                  Management</a></li>
              <li class="list-group-item" (click)="showSubService('Risk Management')"><i
                  class="fa fa-exclamation-triangle" aria-hidden="true"></i><a class="sub-nav-link">Risk
                  Management</a></li>
            </ul>
          </td>
        </tr>
        <tr *ngIf="management" class="subListMenu">
          <td (click)="showSubService('Post-Construction Stage')">
            <a class="nav-link">POST-CONSTRUCTION STAGE</a>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 serviceDetail NoPadding">
      <div class="servicesContainer">
        <h2 class="text-center">Services</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-12 NoPadding font18">
            <div *ngFor="let item of constrObj | keyvalue">
              <div class="row" style="padding: 10px 30px;" *ngIf="item.value.isEnabled">
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <h4 class="ssTitle"> {{ item.key }} :</h4>
                  <ul class="serviceList list-group list-group-flush">
                    <li *ngFor="let list of item.value.values" class="list-group-item"> {{ list }} </li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                  <!-- {{ item.value.imgSrc | json }} -->
                  <img class="ssImg" src="{{ item.value.imgSrc }}" alt="">
                </div>
              </div>

            </div>
          </div>
          <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>