.ServiceContainer {
    height: 100%;
}

.serviceDetail {
    padding-top: 10px;
}
.wrapper {
    height: 100vh;
}

.innerWrapper {
    height: 89%;
    margin: 0px 60px;
    border-radius: 15px;
    padding: 20px;
}

.contentContainer {
    width: 100%
}
.clientLogoCard {
    /* border: 1px solid black; */
    padding: 10px;
}