.wrapper {
    height: 100vh;
}

.innerWrapper {
    margin: 0% 4% 0% 4%;
    padding: 10px;
}

.list-group-item {
    border: none !important;
}

.list-group {
    margin-left: 5%;
}

.contentContainer {
    width: 100%
}

.desc {
    padding: 0px 10%;
    font-size: 18px;
}

.mngmtImg {
    border-radius: 20px;
    width: 97%;
}