<div class="row wrapper">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="innerWrapper">
      <h3 class="text-center">MANAGEMENT</h3>
      <hr>
      <div class="row">
        <div class="col-12 pl-0 pr-0" style="padding-bottom: 10px;border-bottom: 1px solid rgba(0,0,0,.1);">
          <img class="mngmtImg mr-3" src="../../../../assets/images/mr.anil sir.JPG" alt="">
          <span style="color: brown;font-size: 20px;font-weight: 600;">Mr. Anil Hinge, <span
              style="font-size: 16px; color: burlywood">Managing Director</span></span>
          <span class="manDesc">
            <span class="NoMargin span">With a Bachelor degree in Civil Engineering from Pune
              University, Mr. Anil Hinge has a vast experience of more than 24 years in the field of Residential,
              Commercial, Institutional and Industrial Construction including Infrastructure Development.</span>
            <span class="NoMargin span">Based on the core values of transparency and integrity, Mr. Anil has
              successfully
              managed more than 75 Industrial as well as Infrastructure projects as ‘Landmarks’ during his career.
            </span>
            <span class="NoMargin span">He is a good team leader and extra ordinary motivator. Mr. Anil has developed
              his own
              practical techniques for successful completion of challenging projects with effective cost control,
              excellent work quality and perfect time management.</span>
            <span class="NoMargin span">He has always being a successful personality to bring valuable technical
              expertise to
              the team and enriching his subordinates. He has a strong belief that the Team Members are the main assets
              of RASS Project Consultants Pvt. Ltd.</span>
          </span>
        </div>
        <!-- <hr> -->
        <div class="row" style="margin-top: 15px;">
          <div class="col-12">
            <img class="mngmtImg ml-3" style="float:right;" src="../../../../assets/images/ms.shaila.jpeg" alt="">
            <span style="color: brown;font-size: 20px;font-weight: 600;">MS. Shaila Hinge, <span
                style="font-size: 16px; color: burlywood">Director</span>
            </span>
            <span class="manDesc">
              <span>After completion of Graduation, Ms. Shaila is taking care of all the administrative, purchase and
                support
                functions of the company. She has always been a pillar and support in company’s growth.</span>

              <span>Ms. Shaila ensures smooth operation of company and has passionate driving and outstanding people
                management skills. She is also an expert Yoga Teacher.</span>
            </span>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>