<div class="row wrapper">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="innerWrapper text-center">
      <h3>MANAGEMENT</h3>
      <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <img class="mngmtImg" src="../../../../assets/defaultProfile.png" alt="">
            <h4>Mr. Anil Hinge, <span style="font-size: 16px">Director</span></h4>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img src="../../../../assets/defaultProfile.png" alt="">
            <h4>Mr. Anil Hinge, <span style="font-size: 16px">Director</span></h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>With a Civil Engineering degree and more than 20 years of experience in Building and Industrial projects, he has successfully managed more than 60 landmark industrial projects throughout his career.</p>
            <p>He is a team player and a leader to reckon with. He develops his own practical techniques for successful completion of challenging projects with effective cost control, excellent quality and perfect time management. He has always been successful in bringing valuable technical expertise to the team and enriching his subordinates. He strongly believes that his team is the main asset of RASS Project Consultants Pvt. Ltd.</p>
        </div>
      </div>
    </div>
  </div>
</div>