/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

@font-face {
  font-family: "Helvetica";
  src: url(./assets/fonts/Helvetica/helvetica-light.woff);
}

@font-face {
  font-family: "Open-Sans";
  src: url(./assets/fonts/Open-Sans/OpenSans-Light.ttf);
}

* {
  /* font-family: "Helvetica"; */
  box-sizing: border-box;
}


html,
body {
  /* font-family: "Helvetica", serif !important; */
  font-family: 'Open-Sans', sans-serif;
  position: relative;
  height: auto;
  min-height: 100% !important;
}

.NoPadding {
  padding: 0 !important;
}

.font18 {
  font-size: 18px;
}

.NoMargin {
  margin: 0 !important;
}

h2,
h3,
h4,
h5,
h6 {
  color: #005a7a;
}

/* media query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    background-color: red !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background-color: blue !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-color: green !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-color: aqua !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background-color: gray !important;
  }
}
