<div class="row wrapper">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="innerWrapper">
        <h3 class="text-center ssTitle">Pre - Construction Stage:</h3>
      <div class="row contentContainer">
          <div class="col-md-6 font18">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Statutory Liasoning.</li>
                <li class="list-group-item">Constructability Review.</li>
                <li class="list-group-item">Value Engineering.</li>
                <li class="list-group-item">Tracking Design Deliverables.</li>
                <li class="list-group-item">Pre-Qualification o f Contractors.</li>
                <li class="list-group-item">Review of Tender Documents.</li>
                <li class="list-group-item">Techno-Commercial Negotiations.</li>
              </ul>  
          </div>
    
          <div class="col-md-6">
            <img style="width: 100%" src="../../../../../assets/images/preConstruction.jpg">
          </div>
      </div>

    </div>
  </div>
</div>
